@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 16px;
  }
  .size-shadow:hover{
    box-shadow: 0 7px 29px 0 hsla(240,5%,41%,.2);
  }